/TALLERES_GENERAL/TALLER_8_SRP/nbproject/private/
/TALLERES_GENERAL/TALLER_8_OCP/nbproject/private/
/TALLERES_GENERAL/TALLER_8_LSP/nbproject/private/
/TALLERES_GENERAL/TALLER_8_ISP/nbproject/private/
/CORTE_2/TALLER_10_CREADOR_Y_CONTROLADOR/Taller_10/nbproject/private/
/CORTE_2/TALLER_10_EXPERTO_CREADOR_Y_CONTROLADOR/Taller_10/nbproject/private/
/CORTE_2/TALLER_ALTA COHESIÓN_Y_BAJOACOPLAMIENTO/Taller_11_Tienda_en_línea/nbproject/private/
/CORTE_2/TALLER_ALTA COHESIÓN_Y_BAJOACOPLAMIENTO/Ejemplo_1/nbproject/private/
/CORTE_2/TALLER_12_PRINCIPIO_INDIRECCIÓN/Taller_12_principio_indirección/nbproject/private/
/CORTE_2/TALLER_12_PRINCIPIO_INDIRECCIÓN/TALLER_13_PRINCIPIO_VARIACIONES_PROTEGIDAS/nbproject/private/
/CORTE_2/TALLER_14_PRUEBAS_UNITARIAS/Taller_14_Pruebas_Unitarias/nbproject/private/
/CORTE_2/TALLER_14_PRUEBAS_UNITARIAS/Taller_14_Pruebas_Unitarias/build/
/CORTE_2/TALLERES_PATRONES_GOF/TALLER_15_FACTORY_METHOD/TALLER_15_FACTORY_METHOD/nbproject/private/
/CORTE_2/TALLERES_PATRONES_GOF/TALLER_15_ABSTRACT_FACTORY/Taller_15_Abstract_Factory/nbproject/private/
/CORTE_2/TALLERES_PATRONES_GOF/TALLER_15_ABSTRACT_FACTORY/Ejemplo1_Patron_Builder/nbproject/private/
/CORTE_2/TALLERES_PATRONES_GOF/TALLER_16_PATRON_BUILDER/Ejemplo2PatronBuilder/nbproject/private/
/CORTE_2/TALLERES_PATRONES_GOF/TALLER_16_PATRON_BUILDER/Taller_16_Patron_Builder/nbproject/private/
/CORTE_2/TALLERES_PATRONES_GOF/TALLER_16_PATRON_BUILDER/Taller_16_Patron_Prototype/nbproject/private/
/CORTE_3/TALLERES_PATRONES_GOF/TALLER_17_PATRON_SINGLETON/Taller_17_Patron_Singleton/nbproject/private/
/CORTE_3/TALLERES_PATRONES_GOF/TALLER_17_PATRON_SINGLETON/Taller_17_Patron_Singleton/build/
/CORTE_3/TALLERES_PATRONES_GOF/TALLER_17_PATRON_ADAPTER/Taller_17_Patron_Adapter/nbproject/private/
