/TALLERES_GENERAL/TALLER_8_SRP/nbproject/private/
/TALLERES_GENERAL/TALLER_8_OCP/nbproject/private/
/TALLERES_GENERAL/TALLER_8_LSP/nbproject/private/
/TALLERES_GENERAL/TALLER_8_ISP/nbproject/private/
